html{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
p{
    font-size: large;
}
a{
    color: white;
    background-color: black;
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    padding-inline: 15px;
    transition: all 0.25s ease-in-out;
}
a:hover{
    color: black;
    background-color: white;
    transition: all 0.25s ease-in-out;
}
#apresentation{
    font-size: xx-large;
    text-align: center;
    margin: 0;
}

#apresentation p{
    margin: 0;
}
#apresentation h1{
    margin: 0;
}
#myname{
    transition: letter-spacing 1s ease-in-out;
}
#myname:hover{
    letter-spacing: 15px;
    transition: letter-spacing 1s ease-in-out;
}
b{
    background-color: white;
    color: black;
}

#about{
    font-size: x-large;
}

nav{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 5px;
}
#wallpaper-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}
.wallpaper-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    width: 80%;
}
.wallpaper-card img{
    width: 100%;
}
.wallpaper-card p{
    font-size: x-large;
}

#socials{
    list-style: none;
    margin: 15px;
}

#last-data{
    color: rgba(255, 255, 255, 0.356);
}